.chat-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.chat-header {
  font-size: 32px;
  font-weight: bolder;
  color: rgb(77, 150, 179);
  letter-spacing: -2px;
}

.chat-body {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 16px;
  width: 300px;
  height: 400px;
  border: 1px solid rgb(192, 192, 192);
  overflow-y: scroll;
}

.chat-message {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-message-you {
  align-items: flex-end;
}

.chat-message-another {
  align-items: flex-start;
}

.chat-message-content {
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.chat-message-content-you {
  background-color: rgb(47, 174, 47);
}

.chat-message-content-another {
  background-color: rgb(36, 111, 203);
}

.chat-message-info {
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.chat-message-user {
  font-weight: bold;
}
